body {
    background-color: #1b1b32ef;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h1,
p {
    text-align: center;
}

form {
    min-height: 20vh;
    max-height: 79vh;
    height: 50vh;
    margin: 50%, 0;
    background-color: #1b1b32ef;
}

.form-group {
    margin: 0 0 15px;
}

label {
    margin: 8px 0;
    display: block;
}