body {
    background-color: #1b1b32ef;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

h1,
p {
    text-align: center;
}

form {
    min-height: 20vh;
    height: auto;
    margin: auto 25%;
    background-color: #1b1b32ef;
}

.form-group {
    margin: 0 0 15px;
}

label {
    margin: 8px 0;
    display: block;
}

.inline-label {
    display: inline-block;
}

.gender-group, .hobbies-group {
    display: block;
}